@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

header {
  background-color: #0a2e43;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo img {
  width: 40px;
}

header .logo h1{
    color:  #00a5c0;
    font-weight: 700;
    font-size: 20px;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
}

header nav a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  min-height: calc(100vh - 80px);
}

.sidebar {
  width: 220px;
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e2e2e2;
  z-index: 2;
  position: relative;
}

.sidebar .perfil {
  text-align: center;
  margin-bottom: 25px;
}

.sidebar .perfil img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar h2 {
  color: #007c9d;
  margin-top: 10px;
  font-size: 18px;
   font-family: 'Kavoon';
}

.sidebar ul {
  list-style: none;
  width: 100%;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  color: #007c9d;
}

.conteudo {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.imagem-fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.imagem-fundo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}

.card {
  position: absolute;
  top: 20%;
  right: 10%;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  border-radius: 12px;
  padding: 30px 40px;
  max-width: 320px;
  z-index: 2;
  margin-top: -4rem;
}

.card h3 {
  color: #009bbf;
  font-size: 22px;
  margin-bottom: 15px;
   font-family: 'Kavoon';
}

.card ul {
  margin-bottom: 20px;
  color: #333;
}

.card ul li {
  margin-bottom: 8px;
}

.card .preco {
  font-weight: bold;
  margin-bottom: 15px;
}

.card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #005ec2;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .conteudo {
    height: 400px;
  }

  .card {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    border-right: none;
    border-bottom: 1px solid #e2e2e2;
  }

  .sidebar ul {
    display: flex;
    gap: 15px;
  }

  .sidebar .perfil {
    display: none;
  }
}

.btn a{
    text-decoration: none;
    color: white;
}
