* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #f5f5f5;
}

.background {
    background: url("fundo.jpg") no-repeat center center/cover;
    filter: brightness(0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0E2D3F;
    padding: 10px 60px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    color:  #00a5c0;
    font-weight: 700;
    font-size: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.navbar a:hover {
    color:  #00a5c0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.card {
    display: flex;
    background:#0E2D3F;
    backdrop-filter: blur(8px);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    width: 720px;
    max-width: 95%;
    height: 430px;
}


.card .left {
    flex: 1;
    background: #0E2D3F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}

.left h2 {
    font-size: 20px;
    color:white;
    margin-bottom: 30px;
    font-family: 'Kavoon';
}

.left img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}


.card .right {
    flex: 1.1;
    background:#0E2D3F;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right form {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.right label {
    font-weight: 500;
    color: white;
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 13px;
}

.right input {
    padding: 8px 14px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    transition: border 0.3s;
    font-size: 13px;
    cursor: pointer;
}

.right input:focus {
    border-color: #1d9bf0;
}

.terms {
    font-size: 11px;
    margin-top: 8px;
    color: #555;
}

.terms a {
    color: #1d9bf0;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    margin-top: 15px;
    background: #1d9bf0;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #1280d3;
}

.google {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.google img {
    width: 35px;
    cursor: pointer;
}

.continuar {
    color: white;
    text-decoration: none;
}