
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

header {
  background-color: #0a2e43;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo img {
  width: 40px;
}

header h1 {
    color:  #00a5c0;
    font-weight: 700;
    font-size: 20px;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
}

header nav a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  min-height: calc(100vh - 80px);
}

.sidebar {
  width: 220px;
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #e2e2e2;
  z-index: 2;
}

.sidebar .perfil {
  text-align: center;
  margin-bottom: 25px;
}

.sidebar .perfil img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar h2 {
  color: #007c9d;
  margin-top: 10px;
  font-size: 18px;
  font-family: kavoon;
}

.sidebar ul {
  list-style: none;
  width: 100%;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  color: #007c9d;
}

.conteudo {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.imagem-fundo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imagem-fundo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
  opacity: 0.6;
}


.calendario {
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  text-align: center;
  margin-top: -1rem;
}

.calendario h3 {
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: lowercase;
  color:#00a5c0;
}

.calendario table {
  width: 100%;
  border-collapse: collapse;
}

.calendario th, .calendario td {
  padding: 8px;
  font-size: 15px;
  text-align: center;
}

.calendario td {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

.calendario td:hover {
  background-color: #007bff;
  color: white;
}

.card {
  position: absolute;
  top: 18%;
  right: 10%;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  border-radius: 12px;
  padding: 30px 40px;
  max-width: 320px;
  z-index: 2;
}

.card h3 {
  color: #00a5c0;
  font-size: 22px;
  font-family: 'Kavoon', cursive;
  margin-bottom: 15px;
}

.card ul {
  margin-bottom: 20px;
  color: #333;
}

.card ul li {
  margin-bottom: 8px;
}

.card .preco {
  font-weight: bold;
  margin-bottom: 15px;
}

.card button {
  background-color: #00a5c0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #005ec2;
}

.btn a{
    text-decoration: none;
    color: white;
}