* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #0f2b3f;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a1f2c;
    padding: 15px 40px;
    position: relative;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo h1 {
    color: #27a9e1;
    font-size: 1.5rem;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navbar a:hover {
    color: #27a9e1;
}


.hero {
    position: relative;
    height: calc(100vh - 80px);
    background: url('img/fundo-petcare.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(10, 31, 44, 0.7);
    top: 0;
    left: 0;
    image-resolution: 16.9;
}

.overlay img {
    width: 100%;
    height: 70%;
image-resolution: 16.9;
}

.content {
    position: relative;
    z-index: 1;
    color: #fff;
    max-width: 700px;
    padding: 20px;
    animation: fadeInUp 1.2s ease;
    background-color: white;
    border-radius: 2rem;


}

.content h2 {
    font-size: 1.4rem;
    color: #ffb347;
    margin-bottom: 10px;
    font-family: 'Kavoon', cursive;
}

.content h1 {
    font-size: 2.7rem;
    color: #02949C;
    margin-bottom: 25px;
    font-family: 'Kavoon', cursive;
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0062cc;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 1.9rem;
    }

    .content h2 {
        font-size: 1rem;
    }

    button {
        font-size: 0.9rem;
    }

    .navbar ul {
        gap: 12px;
    }
}

.a {
    text-decoration: none;
    color: white;
}