* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f3f6fa;
  color: #fff;
}

header {
  background-color: #0b2f3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 45px;
  height: 45px;
}

.logo h2 {
  color: #17bebb;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  color: #17bebb;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.card {
  background-color: #0b2f3a;
  display: flex;
  width: 700px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  padding: 40px;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  text-align: center;
}

.left h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}

.left img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #17bebb;
}

.right {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right input {
  padding: 12px;
  border: none;
  border-radius: 20px;
  text-align: center;
  background-color: #f1f1f1;
  color: #000;
}

.right button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 5px;
}

.right button:hover {
  background-color: #0069d9;
}

.btn a{
    text-decoration: none;
    color: white;
}