* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
    color: white;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a1f2c;
    padding: 15px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo h1 {
    color: #27a9e1;
    font-size: 1.5rem;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.navbar a:hover {
    color: #27a9e1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.card {
    background-color: #112f44;
    padding: 40px;
    border-radius: 15px;
    width: 420px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #27a9e1;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    outline: none;
    font-size: 0.95rem;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.full {
    grid-column: 1 / 3;
}

.qr-section {
    margin-top: 15px;
}

.qr-box {
    background-color: #0a1f2c;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    margin-top: 10px;
    color: #aaa;
}

.btn {
    display: block;
    width: 100%;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 6px;
    border-radius: 30px;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0062cc;
}

.btn a {
    text-decoration: none;
    padding: 2rem;
    color: white;
}